.ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 6px;
}
.btn {
  color: #363031;
  font-size: larger;
  font-weight: 700;
  transition: all 200ms ease-out;
}
.btn2 {
  display: flex;
}
.txt {
  margin-top: 5px;
}
.cl {
  color: #363031;
  margin-top: 4px;
  cursor: pointer;
}
.btn:hover {
  transform: scale(120%);
}
